@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@400;600;700&family=Shrikhand&display=swap");

body {
  background-color: #1b2431;
  color: #202020;
  font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
  font-size: 13px;
}

a:hover {
  text-decoration: none;
}

p,
figure {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1b2431;
}

.sidebar {
  background-color: #1b2431;
  box-shadow: none;
}
.sidebar .nav-link {
  border-left: 5px solid transparent;
  color: #738297;
  padding: 0.5rem 0.75rem;
}
.sidebar .nav-link:hover {
  color: white;
}
.sidebar .nav-link.active {
  border-left: 5px solid #738297;
  color: white;
}
.sidebar .zmdi {
  display: inline-block;
  font-size: 1.35rem;
  margin-right: 5px;
  min-width: 25px;
}

.card-list {
  width: 100%;
}
.card-list:before,
.card-list:after {
  content: " ";
  display: table;
}
.card-list:after {
  clear: both;
}

.card {
  border-radius: 8px;
  color: white;
  padding: 10px;
  position: relative;
}
.card .zmdi {
  color: white;
  font-size: 28px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 13px;
}
.card .stat {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 8px;
  margin-top: 25px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}
.card .title {
  display: inline-block;
  font-size: 8px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}
.card .value {
  font-size: 28px;
  padding: 0 10px;
}
.card.blue {
  background-color: #2298f1;
}
.card.green {
  background-color: #66b92e;
}
.card.orange {
  background-color: #da932c;
}
.card.red {
  background-color: #d65b4a;
}

.projects {
  background-color: #273142;
  border: 1px solid #313d4f;
  overflow-x: auto;
  width: 100%;
}
.projects-inner {
  border-radius: 4px;
}

.projects-header {
  color: white;
  padding: 22px;
}
.projects-header .count,
.projects-header .title {
  display: inline-block;
}
.projects-header .count {
  color: #738297;
}
.projects-header .zmdi {
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 5px 0;
}
.projects-header .title {
  font-size: 21px;
}
.projects-header .title + .count {
  margin-left: 5px;
}

.projects-table {
  background: #273142;
  width: 100%;
}
.projects-table td,
.projects-table th {
  text-align: center;
  color: white;
  padding: 10px 22px;
  vertical-align: middle;
}
.projects-table td p {
  font-size: 12px;
}
.projects-table td p:last-of-type {
  color: #738297;
  font-size: 11px;
}
.projects-table th {
  background-color: #313d4f;
}
.projects-table tr:hover {
  background-color: #303d52;
}
.projects-table tr:not(:last-of-type) {
  border-bottom: 1px solid #313d4f;
}
.projects-table .member figure,
.projects-table .member .member-info {
  display: inline-block;
  vertical-align: top;
}
.projects-table .member figure + .member-info {
  margin-left: 7px;
}
.projects-table .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.projects-table .status > form {
  float: right;
}
.projects-table .status-text {
  display: inline-block;
  font-size: 12px;
  margin: 11px 0;
  padding-left: 20px;
  position: relative;
}
.projects-table .status-text:before {
  border: 3px solid;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}
.projects-table .status-text.status-blue:before {
  border-color: #1c93ed;
}
.projects-table .status-text.status-green:before {
  border-color: #66b92e;
}
.projects-table .status-text.status-orange:before {
  border-color: #da932c;
}
.projects-table .status-text.status-red:before {
  border-color: #d65b4a;
}

.selectric {
  background-color: transparent;
  border-color: #313d4f;
  border-radius: 4px;
}
.selectric .label {
  color: #738297;
  line-height: 34px;
  margin-right: 10px;
  text-align: left;
}
.selectric-wrapper {
  float: right;
  width: 150px;
}

.chart {
  border-radius: 3px;
  border: 1px solid #313d4f;
  color: white;
  padding: 10px;
  position: relative;
  text-align: center;
}
.chart canvas {
  height: 400px;
  margin: 20px 0;
  width: 100%;
}
.chart .actions {
  margin: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.chart .actions span {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  padding: 4px;
}
.chart .actions .btn-link {
  color: white;
}
.chart .actions .btn-link i {
  font-size: 1.75rem;
}
.chart .title {
  font-size: 18px;
  margin: 0;
  padding: 15px 0 5px;
}
.chart .title + .tagline {
  margin-top: 10px;
}
.chart .tagline {
  font-size: 12px;
}

.danger-item {
  border-left: 4px solid #a84d43;
}

.zmdi {
  line-height: 1;
  vertical-align: middle;
}
.row {
  background-color: #273142;
}
.search {
  padding: 0.5em 1em;
  width: 70%;
  outline: none;
  margin-left: 1em;
  border: none;
  border-radius: 10px;
  background: #abb6c152;
}
::-webkit-input-placeholder {
  /* Edge */
  font-family: poppins;
  color: #fff;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-family: poppins;
  color: #fff;
}

::placeholder {
  font-family: poppins;
  color: #fff;
}

.link {
  font-family: poppins;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: #fff;
  color: #202020;
}
.select {
  text-align: center;
  outline: none;
  border: none;
  font-family: poppins;
  border-radius: 7px;
  padding: 0.3em 0.2em;
  background-color: #fff;
  color: #202020;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.navbar-brand {
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.1em;
}

#insert {
  width: 100%;
  height: max-content;
  background-color: #1b2431;
  display: flex;
  flex-direction: column;
}
.cont {
  background-color: #1b2431;
  margin-inline: auto;
  text-align: center;
  width: 32em;
}
.insert {
  width: 100%;
  min-height: 30em;
  background-color: #1b2431;
  color: #fff;
  display: flex;
  margin-inline: auto;
  gap: 5em;
  align-items: center;
  justify-content: center;
}
#insert{
  padding-bottom: 2.5em;
}
.insert input {
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5em 0.8em;
  background-color: #273142;
  font-family: poppins;
  border-radius: 5px;
}

.insert div {
  display: flex;
  flex-direction: column;
  font-family: poppins;
  margin-block: 1em;
}

.left,
.right {
  height: 26em;
  width: 15em;
}

.cont > button {
  transition: background-color 0.2s ease-out;
  color: #fff;
  font-weight: bolder;
  border: none;
  width: calc(100% - 1em);
  padding: 0.5em 1em;
  background-color: #273142;
  font-family: poppins;
  outline: none;
  margin: 0 auto;
  margin-inline: auto;
  border-radius: 5px;
}
.cont > button:hover{
  background-color:#303d52;
}
select,
textarea {
  color: #fff;
  border: none;
  padding: 0.5em 0.8em;
  background-color: #273142;
  font-family: poppins;
  outline: none;
  border-radius: 5px;
}

::placeholder {
  color: rgba(190, 190, 190, 0.226);
  font-size: 0.8rem;
}

.display{
  display: block;
}

.notDisplay{
  display: none;
}